page-movie-details {
  .item-md {
    font-size: 1em;
    margin-left: 0px;
  }

  .badge-info {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .item-info {
    text-align: center;
  }

  a {
    text-decoration: none;
    text-transform: lowercase;
  }

  .dropdown-section {
    float: right;
    margin-right: 2%;
  }

  .section {
    float: left;
  }

  .button-section {
    cursor: pointer;
    margin-top: 1px;
  }

  .odd {
    background-color: transparent;
  }

  .even {
    background-color: #f5f6fa;
  }

  .poster {
    width: auto;
    display: inline-block;
    margin: auto;
  }

  .poster img {
    margin: auto;
  }
}
