page-series {
  .card-subtitle {
    padding: 10px;
    bottom: 10px;
    width: 100%;
    margin-top: -80px;
  }

  .card-subtitle h2 {
    font-size: 1em;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }

  .card:hover {
    cursor: pointer;
  }

  .card:hover {
    cursor: pointer;
  }
}
