page-episode-details {
  .poster {
    width: auto;
    display: inline-block;
  }

  .poster img {
    width: 70%;
    height: auto;
    margin: auto;
  }

  .card {
    max-width: 400px;
    margin: auto;
  }
}
