page-serie-details {
  .item-md {
    font-size: 1em;
  }

  .badge-info {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  a {
    text-decoration: none;
    text-transform: lowercase;
  }

  .badge-info {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .dropdown-section {
    float: right;
    margin-right: 2%;
  }

  .section {
    float: left;
  }

  .button-section {
    cursor: pointer;
    margin-top: 1px;
  }

  .odd {
    background-color: transparent;
  }

  .even {
    background-color: #f5f6fa;
  }
}
